# 1. Data Types

In [16]:
# This is declaring a variable as a STRING 
string_variable = 'pluto'
print(string_variable)

pluto

In [17]:
type(string_variable)

str

In [19]:
# This is declaring a variable as an Integer
integer_variable = 123852
type(integer_variable)

int

In [21]:
integer_variable + 10

123862

In [23]:
# This is declaring a variable as a Float
float_variable = 128.126
type(float_variable)

float

In [28]:
# This is assigning a Boolean value to a variable
bool_variable = bool(0)
type(bool_variable)

bool

In [29]:
bool_variable

False

In [57]:
# This is creating a list variable
list_variable = [1, 2, 3, 123.44, 85.4, 22.1, 1,2,3,1,2,3]
type(list_variable)

list

In [44]:
list_variable[5] = 123

In [58]:
list_variable

[1, 2, 3, 123.44, 85.4, 22.1, 1, 2, 3, 1, 2, 3]

In [54]:
# Create a TUPLE variable, IMMUTABLE = you can't change the values
tuple_variable = (1, 2, 3, 123.44, 85.4, 22.1, 3)
type(tuple_variable)

tuple

In [56]:
tuple_variable

(1, 2, 3, 123.44, 85.4, 22.1, 3)

In [52]:
# This is creating a SET variable, IMMUTABLE = you can't change the values, No DUPLICATES!
set_variable = {1, 2, 3, 123.44, 85.4, 22.1, 3}
type(set_variable)

set

In [63]:
# Type casting list to set back to list to get rid of duplicates
type(list(set(list_variable)))

list

In [67]:
# Defining a dictionary variable
person_variable = {'name':"Nicholas", 'favourite_color':'red', 'favourite_number':20}
type(dict_variable)

dict

In [71]:
person_variable['favourite_number']

20

In [72]:
fit_models = {}

In [73]:
tuple(list_variable)

(1, 2, 3, 123.44, 85.4, 22.1, 1, 2, 3, 1, 2, 3)

# 2. Lists

In [74]:
# Create
names = ['neil armstrong', 'buzz aldrin', 'sally ride', 'yuri gagarin', 'elon musk']

In [75]:
# Read 
names

['neil armstrong', 'buzz aldrin', 'sally ride', 'yuri gagarin', 'elon musk']

In [77]:
# Reading using Indexing
names[0]

'neil armstrong'

In [78]:
names[-1]

'elon musk'

In [79]:
len(names)

5

In [ ]:
# Update

In [80]:
names[-1] = 'nicholas renotte'
names

['neil armstrong',
 'buzz aldrin',
 'sally ride',
 'yuri gagarin',
 'nicholas renotte']

In [81]:
names.append('elon musk')

In [82]:
names

['neil armstrong',
 'buzz aldrin',
 'sally ride',
 'yuri gagarin',
 'nicholas renotte',
 'elon musk']

In [84]:
names.insert(0, 'richard branson')

In [85]:
names

['richard branson',
 'neil armstrong',
 'buzz aldrin',
 'sally ride',
 'yuri gagarin',
 'nicholas renotte',
 'elon musk']

In [ ]:
# Delete

In [87]:
del names[-2]

In [88]:
names

['richard branson',
 'neil armstrong',
 'buzz aldrin',
 'sally ride',
 'yuri gagarin',
 'elon musk']

# 3. Dictionaries

In [91]:
# Create
astronaut = {
    "name":"elon musk", 
    "suit_size":"large", 
    "allergies":"peanuts"
}

In [ ]:
# Read

In [92]:
astronaut

{'name': 'elon musk', 'suit_size': 'large', 'allergies': 'peanuts'}

In [97]:
astronaut['suit_size']

'large'

In [102]:
astronaut.keys()

dict_keys(['name', 'suit_size', 'allergies'])

In [103]:
astronaut.values()

dict_values(['elon musk', 'large', 'peanuts'])

In [89]:
# Update

In [105]:
astronaut['allergies'] = 'mango'

In [106]:
astronaut

{'name': 'elon musk', 'suit_size': 'large', 'allergies': 'mango'}

In [107]:
astronaut['space_ship'] = 'Galactic 1'

In [108]:
astronaut

{'name': 'elon musk',
 'suit_size': 'large',
 'allergies': 'mango',
 'space_ship': 'Galactic 1'}

In [ ]:
# Delete

In [109]:
del astronaut['space_ship']

In [110]:
astronaut

{'name': 'elon musk', 'suit_size': 'large', 'allergies': 'mango'}